:root {
    --daytexttext-01: rgba(0, 0, 0, 0.8);
    --daytexttext-02: rgba(0, 0, 0, 0.54);
    --daytextlink: rgba(51, 111, 238, 1);
    --day-text-text-01: rgba(0, 0, 0, 0.8);
    --daybasebase-02: rgba(246, 247, 248, 1);
    --daybasebase-01: rgba(255, 255, 255, 1);
    --day-base-base-08: rgba(51, 51, 51, 1);
    --daybaseelevation-01: rgba(255, 255, 255, 1);
    --day-base-primary: rgba(255, 221, 45, 1);
    --daytexttext-positive: rgba(0, 161, 39, 1);
    --daybasebase-04: rgba(221, 223, 224, 1);
    --desktop-15-body-m-font-family: "NeueHaas Unica W1G-Regular", Helvetica;
    --desktop-15-body-m-font-weight: 400;
    --desktop-15-body-m-font-size: 15px;
    --desktop-15-body-m-letter-spacing: 0px;
    --desktop-15-body-m-line-height: 24px;
    --desktop-15-body-m-font-style: normal;
    --desktop-body-s-font-family: "NeueHaas Unica W1G-Regular", Helvetica;
    --desktop-body-s-font-weight: 400;
    --desktop-body-s-font-size: 13px;
    --desktop-body-s-letter-spacing: 0px;
    --desktop-body-s-line-height: 20px;
    --desktop-body-s-font-style: normal;
    --shadow-default: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
    font-size: 16px;
    font-family: Roboto, serif;
  
    --main-font-color: #000221;
    --main-border-color: #000221;
    --main-shadow-color: rgba(0, 2, 33, 0.44);
  }

  html, body {
    color: var(--main-font-color);
    height: 100%;
    width: 100%;
  }


  .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .frame .header {
    display: flex;
    flex-direction: column;
    width: 1360px;
    height: 104px;
    align-items: center;
    position: relative;
    background-color: transparent;
    box-shadow: var(--shadow-default);
  }
  
  .frame .main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--daybaseelevation-01);
  }
  
  .frame .element {
    display: flex;
    width: 1104px;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frame .master {
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-grow: 1;
    background-color: #ffffff01;
    align-items: center;
    position: relative;
  }
  
  .frame .left-side {
    display: inline-flex;
    align-items: center;
    gap: 48px;
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
  }
  
  .frame .container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
  }
  
  .frame .logo {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frame .heraldic {
    position: relative;
    width: 150px;
    height: 34px;
  }
  
  .frame .logo-text {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frame .ru {
    position: relative;
    width: 107px;
    height: 12px;
  }
  
  .frame .tabs {
    display: inline-flex;
    height: 64px;
    align-items: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frame .text-wrapper {
    display: inline-flex;
    gap: 6px;
    align-self: stretch;
    flex: 0 0 auto;
    background-color: #ffffff00;
    box-shadow: inset 0px -2px 0px #666666;
    align-items: center;
    position: relative;
  }
  
  .frame .text {
    position: relative;
    width: fit-content;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: var(--daytexttext-01);
    font-size: 13px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .frame .div-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
    background-color: #ffffff00;
  }
  
  .frame .div {
    position: relative;
    width: fit-content;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: var(--daytexttext-02);
    font-size: 13px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .frame .right-side {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
  }
  
  .frame .logged-out {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 20px 0px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frame .item {
    position: relative;
    width: fit-content;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: var(--daytextlink);
    font-size: 13px;
    text-align: right;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .frame .element-login {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .frame .default {
    display: inline-flex;
    flex-direction: column;
    height: 812px;
    align-items: center;
    gap: 64px;
    padding: 40px 128px;
    position: relative;
    background-color: var(--daybasebase-02);
  }
  
  .frame .text-block {
    align-items: center;
    gap: 40px;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frame .text-2 {
    display: flex;
    flex-direction: column;
    width: 912px;
    align-items: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frame .title {
    align-self: stretch;
    font-family: "Roboto-Black", Helvetica;
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    line-height: 48px;
    position: relative;
    margin-top: -1px;
    color: var(--daytexttext-01);
    letter-spacing: 0;
  }
  
  .frame .subtitle {
    align-self: stretch;
    text-align: center;
    position: relative;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: var(--day-text-text-01);
    font-size: 15px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .frame .button {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
    all: unset;
    box-sizing: border-box;
  }
  
  .frame .buttons {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffdd2d;
    border-radius: 8px;
  }
  
  .frame .master-2 {
    display: inline-flex;
    gap: 8px;
    padding: 16px 36px;
    flex: 0 0 auto;
    border-radius: 4px;
    align-items: center;
    position: relative;
  }
  
  .frame .text-3 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: var(--day-text-text-01);
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .frame .desktopherobannernew {
    position: relative;
    width: 1104px;
    height: 460px;
    object-fit: cover;
  }
  
  .frame .div-2 {
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frame .title-wrapper {
    display: flex;
    flex-direction: column;
    width: 1360px;
    align-items: center;
    gap: 24px;
    padding: 76px 224px 24px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--daybasebase-02);
  }
  
  .frame .title-2 {
    width: 912px;
    font-family: "Roboto-Black", Helvetica;
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    line-height: 48px;
    position: relative;
    margin-top: -1px;
    color: var(--daytexttext-01);
    letter-spacing: 0;
  }
  
  .frame .images-s-image-left {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 24px 128px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--daybasebase-02);
  }
  
  .frame .desktop-image-plus {
    position: relative;
    width: 1104px;
    height: 360px;
  }
  
  .frame .items {
    display: flex;
    flex-direction: column;
    width: 341px;
    align-items: flex-start;
    gap: 12px;
    position: absolute;
    top: 48px;
    left: 768px;
  }
  
  .frame .frame-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    width: 100%;
    flex-direction: column;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frame .div-3 {
    display: flex;
    width: 341px;
    align-items: flex-start;
    gap: 12px;
    flex-direction: column;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frame .bullit {
    display: flex;
    width: 336px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frame .rectangle-wrapper {
    position: relative;
    width: 12px;
    height: 24px;
  }
  
  .frame .rectangle {
    position: relative;
    height: 2px;
    top: 11px;
    background-color: var(--daytexttext-01);
    border-radius: 1px;
  }
  
  .frame .subtitle-2 {
    position: relative;
    width: 316px;
    margin-top: -1px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: var(--day-text-text-01);
    font-size: 15px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .frame .image {
    position: absolute;
    width: 720px;
    height: 360px;
    top: 0;
    left: 0;
    background-color: var(--daybasebase-01);
    border-radius: 24px;
    overflow: hidden;
  }
  
  .frame .img {
    position: absolute;
    width: 631px;
    height: 304px;
    top: 648px;
    left: 598px;
  }
  
  .frame .img-2 {
    position: absolute;
    width: 720px;
    height: 360px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .frame .vacancies {
    display: inline-flex;
    align-items: flex-start;
    gap: 48px;
    padding: 24px 128px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frame .vacancy {
    display: flex;
    flex-direction: column;
    width: 336px;
    height: 232px;
    align-items: flex-start;
    gap: 24px;
    padding: 32px;
    position: relative;
    background-color: var(--daybasebase-01);
    border-radius: 24px;
  }
  
  .frame .div-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .frame .text-wrapper-2 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: var(--daytexttext-01);
    font-size: 24px;
    letter-spacing: 0;
    line-height: 28px;
  }
  
  .frame .p {
    position: relative;
    align-self: stretch;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: var(--day-text-text-01);
    font-size: 15px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .frame .div-5 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frame .title-wrapper-2 {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    padding: 76px 224px 24px;
    background-color: var(--daybasebase-02);
    flex-direction: column;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frame .two-cards-text-links {
    display: flex;
    width: 1360px;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding: 24px 128px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--daybasebase-02);
  }
  
  .frame .card {
    display: flex;
    flex-direction: column;
    width: 528px;
    height: 212px;
    align-items: flex-start;
    gap: 32px;
    padding: 32px;
    position: relative;
    background-color: var(--daybasebase-01);
    border-radius: 24px;
    overflow: hidden;
  }
  
  .frame .text-block-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 44px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frame .div-6 {
    display: flex;
    width: 464px;
    align-items: flex-start;
    gap: 12px;
    flex-direction: column;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frame .subtitle-3 {
    width: 444px;
    margin-top: -1px;
    margin-right: -128px;
    position: relative;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: var(--day-text-text-01);
    font-size: 15px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .frame .two-cards-no-buttons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding: 24px 128px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--daybasebase-02);
  }
  
  .frame .text-block-3 {
    height: 320px;
    align-items: flex-start;
    gap: 44px;
    padding: 32px;
    background-color: var(--daybasebase-01);
    border-radius: 24px;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frame .img-3 {
    position: relative;
    width: 36px;
    height: 36px;
  }
  
  .frame .four-steps-with {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    gap: 48px;
    padding: 24px 128px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--daybasebase-02);
  }
  
  .frame .step {
    position: relative;
    width: 240px;
    height: 188px;
  }
  
  .frame .overlap-group {
    position: relative;
    height: 188px;
  }
  
  .frame .subtitle-wrapper {
    display: flex;
    flex-direction: column;
    width: 240px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 56px 32px 32px;
    position: absolute;
    top: 28px;
    left: 0;
    background-color: var(--daybasebase-01);
    border-radius: 24px;
  }
  
  .frame .subtitle-4 {
    align-self: stretch;
    margin-top: -1px;
    text-align: center;
    position: relative;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: var(--day-text-text-01);
    font-size: 15px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .frame .icon {
    position: absolute;
    width: 56px;
    height: 56px;
    top: 0;
    left: 92px;
    background-color: var(--day-base-base-08);
    border-radius: 16px;
    overflow: hidden;
  }
  
  .frame .text-wrapper-3 {
    position: absolute;
    width: 56px;
    top: 11px;
    left: 0;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-weight: 800;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: 32px;
  }
  
  .frame .group {
    height: 192px;
    position: relative;
    width: 1360px;
  }
  
  .frame .footer-advert {
    height: 192px;
    background-color: #ffffff;
  }
  
  .frame .footer {
    width: 1360px;
    height: 192px;
    background-color: transparent;
  }
  
  .frame .overlap {
    position: relative;
    width: 1362px;
    height: 194px;
    top: -1px;
    left: -1px;
    background-color: var(--daybasebase-02);
  }
  
  .frame .info-wrapper {
    height: 128px;
    top: 65px;
    left: 1px;
    position: relative;
    width: 1360px;
  }
  
  .frame .info {
    width: 1364px;
    height: 128px;
  }
  
  .frame .overlap-group-2 {
    position: relative;
    width: 1360px;
    height: 128px;
    background-image: url(./img/group.png);
    background-size: 100% 100%;
  }
  
  .frame .rectangle-2 {
    position: absolute;
    width: 1104px;
    height: 20px;
    top: 44px;
    left: 128px;
    background-color: #d7d7d700;
    box-shadow: inset 0px -1px 0px #e7e8ea;
  }
  
  .frame .element-2 {
    position: absolute;
    width: 528px;
    top: 84px;
    left: 128px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: var(--daytexttext-02);
    font-size: 13px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .frame .element-3 {
    position: absolute;
    width: 238px;
    top: 84px;
    left: 994px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 13px;
    text-align: right;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .frame .span {
    color: #0000008a;
  }
  
  .frame .text-wrapper-4 {
    color: #326fee;
  }
  